<ion-header>
  <ion-toolbar>
    <ion-title>
      Fin Id
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<h1>Meus Bancos:</h1>

<ng-container *ngIf="banks$.length !== 0; else elseTemplate">
    <ion-card padding *ngFor="let bank of banks$">
        <ion-card-title text-center>
          {{bank}}
        </ion-card-title>
        <ion-card-content>
          <ion-item>
            <ion-text>Saldo</ion-text>
            <ion-text slot="end">{{state$[bank]?state$[bank].account.balance:null}}</ion-text>
          </ion-item>
        </ion-card-content>
        <div text-right>
          <ion-button (click)="openPaymentModal(bank, state$[bank].linearId.id)" fill="outline">Iniciar pagamento</ion-button>
          <!-- <ion-button>Adicionar fundos</ion-button> -->
        </div>  
      </ion-card>
</ng-container>
<ng-template #elseTemplate>
    <ion-card padding>
        <ion-card-header text-center>
          Nada para ver aqui
        </ion-card-header>
        <ion-card-content>
          <ion-text>Você ainda não tem relacionamento com nenhum banco</ion-text>
        </ion-card-content>
      </ion-card>
</ng-template>

<div text-center>
  <ion-button (click)="openBankModal()">Conectar novo banco</ion-button>
</div>

</ion-content>
